* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #999;
}

#gallery {

}

.images-list {
    display: flex;
    flex-wrap: wrap;
}

.form-widget {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    margin: auto;
    border: 1px solid #999;
    border-radius: 30px;
}

.lable-name {
    margin: 35px 20px 0px 20px;
}

.lable-src {
    margin: 20px 20px 20px 20px;
}

.input-name{
    width: 253px;
    margin-left: 139px;
}

.input-src {
    width: 253px;
    margin-left: 40px;
}

.button {
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.image {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 40px;
    border: 1px solid #999;
    background-size: cover;
}

.close-image {
    position: absolute;
    z-index: 1;
    left: 90px;
    top: -10px;
    display: block;
    border: 1px solid #999;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background-image: url('../img/cross.png');
    background-size: cover;
}

img {
    width: inherit;
    height: inherit;
}

.error {
    position: fixed;
    top: 100px;
    left: 410px;
    font-size: 12px;
    display: none;
    background: black;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
